.Cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.4);
    border-radius: 20px;
    height: 200px;
    width: 800px;
    margin: 10px;
}

.img {
    transform: scale(0.8);
    margin-right: 40px;
}

.title{
    font-size: 15px;
}

.btn{
    width: 150px;
    transform: scale(0.8);
    font-size: 20px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    color: white;
    box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.2);
    transition: 0.2s;
    margin-left: 0;
    margin-top: 20px;
    &:hover{
        transform: scale(0.85);
    }

    &:active{
        transform: scale(0.7);
    }
}

.price {
    margin: 10px;
}