.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.btn{
    margin: 15px;
    text-align: center;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    color:  white;
    transition: 0.2s;
    box-shadow: 7px 7px 5px rgba($color: #000000, $alpha: 0.2);

    &:hover {
        transform: scale(1.1);
        box-shadow: 10px 10px 5px rgba($color: #000000, $alpha: 0.2);
    }

    &:active {
        transform: scale(0.99);
    }
}

.num {
    font-size: 30px;
}