.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
}

.Box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
}

.star {
    transform: scale(2.3);
    padding-bottom: 5px;
}

.textCart {
    margin: 2px 0px 0px 0px;
    transform: translateY(3px);
}
.textFav {
    margin: 0px 0px 0px 5px;
    transform: translateY(10px);
}