.Card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 500px;
    padding: 10px;
    margin: 10px;
    box-shadow: 3px 3px 10px rgba($color: #000000, $alpha: 0.4);
    transition: 0.2s;

    &:hover{
        transform: scale(1.01);
    }
}

.title {
    cursor: pointer;
    font-size: 20px;
    text-align: center;
}

.price {
    font-weight: 700;
}

.color{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    border: 2px solid black;
    transition: 0.2s;
    
    &:hover{
        transform: scale(1.1);
    }
}

.btn{
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    box-shadow: 1px 1px 7px rgba($color: #000000, $alpha: 0.3);
    transition: 0.2s;
    color:  white;

    &:hover{
        transform: scale(1.1);
    }
}
.star {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 25px;
    transform: scale(1.7);
}