.FavList{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    flex-wrap: wrap;
    max-width: 1200px;
    list-style: none;
    padding: 0;
    overflow: auto;
    margin-top: 85px;
}