.CartList{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 600px;
    flex-direction: column;
    max-width: 1200px;
    list-style: none;
    padding: 0;
    overflow: auto;
    margin-top: 85px;
}

.count {
    position: absolute;
    width: 100px;
    top: 30px;
    right: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 3px 3px 6px rgba($color: #000000, $alpha: 0.2);
    margin-right: 10px;
    border-radius: 10px;
    height: 40px;
}

.priceTitle{
    margin: 0;
}

.counter {
    transform: scale(1.3);
    font-size: 15px;
    border-radius: 6px;
    border: none;
    transition: 0.2s;

    &:hover{
        transform: scale(1.5);
    }
    &:active{
        transform: scale(1.4);
    }
}

li{
    position:relative;
}