.Modal {
    position: absolute;
    top: 35%;
    text-align: center;
    background-color: red($color: #000000);
    background-color: #e54545;
    color: white;
    // padding: 20px;
    border-radius: 10px;
    z-index: 1;
}

.title{
    margin: 0px 0px 20px;
    padding: 10px 0px;
    width: 100%;
    background-color: #a22f2f;
    border-start-start-radius: 10px;
    border-start-end-radius: 10px ;
}

.back{
    content: "";
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.2);
}

.closeBtn{
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 10px;


    &::after{
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        border-radius: 10px;
        background-color: white;
        transform: rotate(40deg);
    }
    &::before{
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        border-radius: 10px;
        background-color: white;
        transform: rotate(140deg);
    }
}

.desc{
    margin: 0px 0px 30px 0px ;
}