.nav{
    position: fixed;
    bottom: 0px;
    box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.2);
    border-radius: 5px;
}
.btn {
    width: 50px;
    height: 40px;
    background-color: rgb(213, 41, 41);
    border: none;
    border-radius: 5px;
    margin: 10px;
    color: white;
    transition: 0.2s;

    &:hover{
        transform: scale(1.08);
    }
}